.menu { 
    display: flex;
    justify-content: center;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: red;
}

.link:global(.active) {
    background-color: #000;
}